#gallery {
    text-align: center;
    width: 100%;
    margin: 70px auto;
  }
  
  #gallery .imgAbogado {
    width: 400px;
    height: 300px;
    -webkit-transition-duration: 0.6s; /*Webkit: animation duration*/
    -moz-transition-duration: 0.6s; /*Mozilla: animation duration*/
    -o-transition-duration: 0.6s; /*Opera: animation duration*/
    opacity: 0.6; /*initial opacity of the image*/
    z-index: 1; /*place non-hover images behind the hover image*/
    margin: 0; /*remove default margin for images*/
    position: relative; /*solve the problem with z-index in Chrome*/
  }
  
  #gallery .imgAbogado:hover { 
    -webkit-transform: scale( 1.5 ); /*Webkit: increase size to 1.5x*/
    -moz-transform: scale( 1.5 ); /*Mozilla: scaling*/
    -o-transform: scale( 1.5 ); /*Opera: scaling*/
    box-shadow: 0px 0px 25px gray; /*CSS3 shadows: 25px fuzzy shadow around the entire image*/
    -webkit-box-shadow: 0px 0px 25px gray; /*Webkit: shadows*/
    -moz-box-shadow: 0px 0px 25px gray; /*Mozilla: shadows*/
    opacity: 1; /*default opacity*/
    z-index: 10; /*place hover image in front the non-hover images*/
  }

  #gallery  div.segundo:hover{
      opacity: 1;
      z-index: 80;
  }


.segundo{
    opacity: 0.5;
}

p {
    display: block;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    margin-left: 0;
    margin-right: 0;
    text-align: justify;
}

.abogado{
    margin-top: 40px;
}

.subtitulo{
    color: #333;
    font-size: 18px;
    text-align: justify;
}

.titulo{
    text-align: center;
}

.centrado{
    text-align: center;
}

.equipo{
    margin-top: 50px;
}

a{
    color: #fff;
}

.blank{
    background: color;
    color: #fff;
}